In [3]:
import pandas as pd
import numpy as np

In [4]:
# Create a dataframe with dates as your index
States = ['NY', 'NY', 'NY', 'NY', 'FL', 'FL', 'GA', 'GA', 'FL', 'FL'] 
data = [1.0, 2, 3, 4, 5, 6, 7, 8, 9, 10]
idx = pd.date_range('1/1/2012', periods=10, freq='MS')
df1 = pd.DataFrame(data, index=idx, columns=['Revenue'])
df1['State'] = States
df1

            Revenue State
2012-01-01      1.0    NY
2012-02-01      2.0    NY
2012-03-01      3.0    NY
2012-04-01      4.0    NY
2012-05-01      5.0    FL
2012-06-01      6.0    FL
2012-07-01      7.0    GA
2012-08-01      8.0    GA
2012-09-01      9.0    FL
2012-10-01     10.0    FL

In [5]:
# Create a second dataframe
data2 = [10.0, 10.0, 9, 9, 8, 8, 7, 7, 6, 6]
idx2 = pd.date_range('1/1/2013', periods=10, freq='MS')
df2 = pd.DataFrame(data2, index=idx2, columns=['Revenue'])
df2['State'] = States
df2

            Revenue State
2013-01-01     10.0    NY
2013-02-01     10.0    NY
2013-03-01      9.0    NY
2013-04-01      9.0    NY
2013-05-01      8.0    FL
2013-06-01      8.0    FL
2013-07-01      7.0    GA
2013-08-01      7.0    GA
2013-09-01      6.0    FL
2013-10-01      6.0    FL

In [6]:
df = pd.concat([df1,df2])
df

            Revenue State
2012-01-01      1.0    NY
2012-02-01      2.0    NY
2012-03-01      3.0    NY
2012-04-01      4.0    NY
2012-05-01      5.0    FL
2012-06-01      6.0    FL
2012-07-01      7.0    GA
2012-08-01      8.0    GA
2012-09-01      9.0    FL
2012-10-01     10.0    FL
2013-01-01     10.0    NY
2013-02-01     10.0    NY
2013-03-01      9.0    NY
2013-04-01      9.0    NY
2013-05-01      8.0    FL
2013-06-01      8.0    FL
2013-07-01      7.0    GA
2013-08-01      7.0    GA
2013-09-01      6.0    FL
2013-10-01      6.0    FL

In [12]:
newdf = df.copy()
newdf['x-Mean'] = abs(newdf['Revenue'] - newdf['Revenue'].mean())
newdf['1.96*std'] = 1.96*newdf['Revenue'].std()
newdf['Outlier'] = abs(newdf['Revenue'] - newdf['Revenue'].mean()) > 1.96*newdf['Revenue'].std()
newdf

            Revenue State  x-Mean  1.96*std  Outlier
2012-01-01      1.0    NY    5.75  5.200273     True
2012-02-01      2.0    NY    4.75  5.200273    False
2012-03-01      3.0    NY    3.75  5.200273    False
2012-04-01      4.0    NY    2.75  5.200273    False
2012-05-01      5.0    FL    1.75  5.200273    False
2012-06-01      6.0    FL    0.75  5.200273    False
2012-07-01      7.0    GA    0.25  5.200273    False
2012-08-01      8.0    GA    1.25  5.200273    False
2012-09-01      9.0    FL    2.25  5.200273    False
2012-10-01     10.0    FL    3.25  5.200273    False
2013-01-01     10.0    NY    3.25  5.200273    False
2013-02-01     10.0    NY    3.25  5.200273    False
2013-03-01      9.0    NY    2.25  5.200273    False
2013-04-01      9.0    NY    2.25  5.200273    False
2013-05-01      8.0    FL    1.25  5.200273    False
2013-06-01      8.0    FL    1.25  5.200273    False
2013-07-01      7.0    GA    0.25  5.200273    False
2013-08-01      7.0    GA    0.25  5.200273    False
2013-09-01      6.0    FL    0.75  5.200273    False
2013-10-01      6.0    FL    0.75  5.200273    False

In [18]:
newdf = df.copy()
State = newdf.groupby('State')
newdf['Outlier'] = State.transform( lambda x: abs(x-x.mean()) > 1.96*x.std() )
newdf['x-Mean'] = State.transform( lambda x: abs(x-x.mean()) )
newdf['1.96*std'] = State.transform( lambda x: 1.96*x.std() )
newdf

            Revenue State  Outlier  x-Mean  1.96*std
2012-01-01      1.0    NY    False    5.00  7.554813
2012-02-01      2.0    NY    False    4.00  7.554813
2012-03-01      3.0    NY    False    3.00  7.554813
2012-04-01      4.0    NY    False    2.00  7.554813
2012-05-01      5.0    FL    False    2.25  3.434996
2012-06-01      6.0    FL    False    1.25  3.434996
2012-07-01      7.0    GA    False    0.25  0.980000
2012-08-01      8.0    GA    False    0.75  0.980000
2012-09-01      9.0    FL    False    1.75  3.434996
2012-10-01     10.0    FL    False    2.75  3.434996
2013-01-01     10.0    NY    False    4.00  7.554813
2013-02-01     10.0    NY    False    4.00  7.554813
2013-03-01      9.0    NY    False    3.00  7.554813
2013-04-01      9.0    NY    False    3.00  7.554813
2013-05-01      8.0    FL    False    0.75  3.434996
2013-06-01      8.0    FL    False    0.75  3.434996
2013-07-01      7.0    GA    False    0.25  0.980000
2013-08-01      7.0    GA    False    0.25  0.980000
2013-09-01      6.0    FL    False    1.25  3.434996
2013-10-01      6.0    FL    False    1.25  3.434996

In [22]:
newdf = df.copy()
# 按照月份分钟
StateMonth = newdf.groupby(['State', lambda x: x.month])
newdf['Outlier'] = StateMonth.transform( lambda x: abs(x-x.mean()) > 1.96*x.std() )
newdf['x-Mean'] = StateMonth.transform( lambda x: abs(x-x.mean()) )
# 4.5 = 2013-1-1  数据 10 + 2012-1-1   数据1 均值 5.5    abs(1-5.5)
newdf

            Revenue State  Outlier  x-Mean
2012-01-01      1.0    NY    False     4.5
2012-02-01      2.0    NY    False     4.0
2012-03-01      3.0    NY    False     3.0
2012-04-01      4.0    NY    False     2.5
2012-05-01      5.0    FL    False     1.5
2012-06-01      6.0    FL    False     1.0
2012-07-01      7.0    GA    False     0.0
2012-08-01      8.0    GA    False     0.5
2012-09-01      9.0    FL    False     1.5
2012-10-01     10.0    FL    False     2.0
2013-01-01     10.0    NY    False     4.5
2013-02-01     10.0    NY    False     4.0
2013-03-01      9.0    NY    False     3.0
2013-04-01      9.0    NY    False     2.5
2013-05-01      8.0    FL    False     1.5
2013-06-01      8.0    FL    False     1.0
2013-07-01      7.0    GA    False     0.0
2013-08-01      7.0    GA    False     0.5
2013-09-01      6.0    FL    False     1.5
2013-10-01      6.0    FL    False     2.0

In [24]:
newdf = df.copy()

State = newdf.groupby('State')
def s(group):
    group['x-Mean'] = abs(group['Revenue'] - group['Revenue'].mean())
    group['1.96*std'] = 1.96*group['Revenue'].std()  
    group['Outlier'] = abs(group['Revenue'] - group['Revenue'].mean()) > 1.96*group['Revenue'].std()
    return group
Newdf2 = State.apply(s)
Newdf2

            Revenue State  x-Mean  1.96*std  Outlier
2012-01-01      1.0    NY    5.00  7.554813    False
2012-02-01      2.0    NY    4.00  7.554813    False
2012-03-01      3.0    NY    3.00  7.554813    False
2012-04-01      4.0    NY    2.00  7.554813    False
2012-05-01      5.0    FL    2.25  3.434996    False
2012-06-01      6.0    FL    1.25  3.434996    False
2012-07-01      7.0    GA    0.25  0.980000    False
2012-08-01      8.0    GA    0.75  0.980000    False
2012-09-01      9.0    FL    1.75  3.434996    False
2012-10-01     10.0    FL    2.75  3.434996    False
2013-01-01     10.0    NY    4.00  7.554813    False
2013-02-01     10.0    NY    4.00  7.554813    False
2013-03-01      9.0    NY    3.00  7.554813    False
2013-04-01      9.0    NY    3.00  7.554813    False
2013-05-01      8.0    FL    0.75  3.434996    False
2013-06-01      8.0    FL    0.75  3.434996    False
2013-07-01      7.0    GA    0.25  0.980000    False
2013-08-01      7.0    GA    0.25  0.980000    False
2013-09-01      6.0    FL    1.25  3.434996    False
2013-10-01      6.0    FL    1.25  3.434996    False